@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply m-0 p-0 h-full w-full overflow-auto fixed scroll-smooth bg-primaryBgLight dark:bg-primaryBgDark;
  }
}

/* Home Text Animation */
#title {
  animation: fadeIn 600ms;
}

#subtitle {
  animation: fadeIn 800ms;
}

#socials {
  animation: fadeIn 900ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
